@import "_reset.scss";
.container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 30px 40px;
	.bloc_info {
		width: 46%;
		border: solid 1px black;
		padding: 40px 40px;
		h1 {
			font-size: 35px;
			font-weight: bold;
			color: $text_produit;
			margin-bottom: 20px;
		}
		.text_condition {
			font-size: 20px;
			margin-bottom: 30px;
		}
		.titre_description {
			font-size: 25px;
			font-weight: bolder;
			margin-bottom: 10px;
		}
		.text_description {
			font-size: 19px;
		}
		.bloc_prix {
			display: flex;
			align-items: center;
			.text_prix_a {
				font-size: 25px;
				margin: 20px 0;
				color: $text_produit;
			}
			.text_prix {
				margin-left: 10px;
				font-size: 25px;
				font-weight: bolder;
			}
		}
		.bloc_quantite {
			display: inline-flex;
			input {
				height: 40px;
			}
			input[type=button] {
				width: 35px;
				border: none;
				background-color: $buton-green;
				color: white;
				font-weight: bolder;
				font-size: 20px;
			}
			input[type=text] {
				width: 40px;
				margin: 0 10px;
				padding: 0 4px;
				color: $text-green;
				font-size: 19px;
			}
			input[type=submit] {
				margin-left: 20px;
				border: none;
				color: white;
				background-color: $buton-green;
				padding: 0 10px;
			}
		}
	
	}
}