@import "_reset.scss";
.banner {
  padding: 50px 40px;
  height: 250px;
  h1 {
    font-size: 30px;
    color: white;
    font-weight: normal;
    margin-bottom: 20px;
  }
  p {
    color: white;
    font-size: 15px;
    text-align: justify;
    letter-spacing: 3px;
    line-height: 25px;
  }
}
// Banner image
.banner_fleur {
  background-image: url(img/banner_fleur.png);
  background-size: cover;
  background-position-y: 570px;
}
.banner_huile {
  background-image: url(img/banner_huile.jpeg);
  background-size: cover;
  background-position-y: 570px;
}
.banner_vaporette {
  background-image: url(img/banner_cigarette.jpeg);
  background-size: cover;
  background-position-y: 820px;
}
.banner_documentation {
  background-image: url(img/banner_documentation.jpeg);
  background-size: cover;
  background-position-y: 650px;
}

// List produit.
.list_produit {
  padding: 40px 60px 0 60px;
  // flex
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
// Tuile
.tuile {
  display: flex;
  margin-bottom: 70px;
  // image produit
  .image_produit {
    width: 280px;
    height: 227px;
    margin-bottom: 30px;
  }
  // text
  h2 {
    font-size: 19px;
    font-weight: normal;
    text-align: center;
  }
  .titre_prix {
    font-size: 9px;
    text-align: center;
    font-weight: inherit;
  }
  .prix {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
  }
}
// Section Article.
.section_article {
  padding: 0 60px;
  h3 {
    font-size: 25px;
    font-weight: bolder;
    margin-bottom: 15px;
    color: $h3;
  }
  p {
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 15px;
    color: $text_produit;
  }
}
