p,
h1,
h2,
h3,
h4,
a,
li,
ul,
body {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  list-style-type: none;
  font-family: "note sans", sans-serif;
  color: black;
}
// color
$text-green: #277c45;
$text-logo: #10331c;
//
$h3: #707070;
$text_produit: #707070;
//
$background-color_grey: rgba(128, 128, 128, 0.363);
$background-color_grey-dark: #838383;
